body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #03071e; /* Dark background */
    color: #ffffff; /* White text */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #00b4d8; /* Updated header color */
}

p {
    color: #00b4d8; /* Updated welcome message color */
}

/* Main Content Styles */
.h1-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between items */
    margin: 20px 0;
}

.info-box {
    border: 2px solid #ff006e; /* Border color */
    border-radius: 10px;       /* Rounded corners */
    padding: 20px;             /* Padding inside the box */
    margin: 20px 0;           /* Space above and below the box */
    background-color: #03071e; /* Background color (optional) */
}

.text-content {
    flex: 1; /* Take up remaining space */
    text-align: center; /* Center the text */
}

h1 span.highlight {
    color: #ffd60a; /* Highlight color */
}

#makeup-event {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #e36414;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background: #03071e; /* Same background color */
    color: #ffffff; /* White text */
}


@media (max-width: 600px) {
    .h1-container {
        flex-direction: column; /* Stack images and text on smaller screens */
        align-items: center;
    }
    .left-img, .right-img {
        margin-bottom: 10px; /* Space between images and text */
    }
    .text-content {
        text-align: center; /* Center text on smaller screens */
    }
}
